.header-texto h1 {
  margin: 10px;
  font-size: 50px;
  padding: 10px;
  color: #a30d0a;
  line-height: 1.2;
}

.header-texto p {
  margin: 5px 0 0;
  font-size: 35px;
  margin-bottom: 20px;
}

.center-text {
  margin: 20px 0 5px;
  font-size: 35px;
  margin-bottom: 18px;
}

.btn-superpop {
  display: inline-block;
  margin-top: 16px;
  margin-left: 60px;
  padding: 12px 24px;
  background-color: #b30000;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  border-radius: 8px;
  transition: background 0.3s;
}

.btn-superpop:hover {
  background-color: #8f0000;
}