/* Card principal */
card {
    width: 720px;
    background: #fff;
    padding: 25px;
    border: 1px solid #ddd;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    margin: auto;
}

/* Cabeçalho do formulário */
.header-form {
    width: 100%;
    display: flex;
    margin-bottom: 30px;
}

.header-form img {
    width: 100%;
    height: auto;
    margin: auto;
}

/* Campos centrais */
.inline-field {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    font-size: 20px;
}

.inline-field label {
    font-weight: bold;
    margin-right: 5px;
    white-space: nowrap;
}

.inline-field input[type="text"] {
    border: none;
    background-color: transparent;
    border-bottom: 2px solid rgb(46, 46, 46);
    font-size: 15px;
    padding: 2px 0;
    outline: none;
}

/* Texto central */
.center-text {
    text-align: center;
    font-weight: bold;
    margin: 20px 0 18px;
    font-size: 25px;
}

/* Checkboxes */
.checkboxes {
    display: flex;
    justify-content: center;
    gap: 55px;
    margin-bottom: 20px;
    font-size: 20px;
}

/* Observações */
textarea {
    width: 100%;
    height: 90px;
    resize: none;
    font-size: 16px;
    border-radius: 12px;
    padding: 8px;
}

/* Botão enviar */
.enviar-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.btn-enviar {
    width: 280px;
    height: 80px;
    background-color: #be100e;
    color: white;
    font-size: 46px;
    font-weight: bold;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.25s;
}

.btn-enviar:hover {
    background-color: #920303;
}

.btn-enviar:active {
    transform: scale(0.97);
}

/* Logo rodapé */
.logo {
    margin: 0 auto;
}

.logo img {
    width: 200px;
}

/* Responsivo */
@media (max-width: 768px) {
    .header-form {
        flex-direction: column;
        gap: 10px;
    }

    .card {
        width: 95%;
    }
}
