/* ================= AJUSTE GLOBAL ================= */
@font-face {
  font-family: 'Cactus';
  src: url(Cactus\ Regular.otf), format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  padding-top: 65px;
  font-family: 'Cactus', sans-serif;
}

/* ================= MAIN ==================== */

.header-texto h1 {
  margin: 10px;
  margin-left:70px;
  font-size: 90px;
  border-top: 25px;
  padding: 5px;
  color:#a30d0a;
  line-height:1.2;
}

.header-texto p {
  margin: 5px 0 0;
  margin-left:45px;
  font-size: 45px;
  margin-bottom: 30px;
}

.center-text {
  margin: 20px 0 5px;
  margin:20px;
  font-size: 55px;
  margin-bottom: 7px;
}

.btn-superpop {
  display: inline-block;
  margin-top: 16px;
  margin-left:60px;
  padding: 12px 24px;

  background-color: #b30000; /* vermelho Superpop */
  color: #fff;
  text-decoration: none;

  font-weight: bold;
  font-size:25px;
  border-radius: 8px;

  transition: background 0.3s;
}

.btn-superpop:hover {
  background-color: #8f0000;
}
