<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <title>Login Superpop</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="P_logo_R-01.png" type="image/png">
        <link rel="stylesheet" href="layout.css">
        <link rel="stylesheet" href="login.css">
    </head>

    <body>
            <!-- HEADER FIXO -->
        <header class="header-fixo">
            <button class="menu-btn" onclick="abrirMenu()">☰</button>

            <div class="logo-fixo">
                <img src="Logo_popular.png" alt="Superpop">
                <span>Superpop</span>
            </div>

            <div class="actions-fixo">
                <a href="login.html" class="login-fixo">Entrar</a>
                <a href="cadastro.html" class="Cadastro-fixo">Cadastrar</a>
            </div>
        </header>

        <!-- OVERLAY -->
        <div class="overlay" onclick="fecharMenu()"></div>

        <!-- SIDEBAR -->
        <aside class="sidebar">
            <button class="close-btn-fixo" onclick="fecharMenu()">✕</button>

            <div class="user-info-fixo">
                <div class="avatar-fixo">N</div>
                <span>Olá, Natanael</span>
            </div>

            <nav>
                <a href="index.html">Início</a>
                <a href="login.html">Enviar Superpop</a>
                <a href="#">Meus Superpop's</a>
                <a href="#">Ranking</a>
                <a href="index.html">Sair</a>
            </nav>
        </aside>

        <main>
            <form class="card-login">

                <div class="header">
                    <img src="Logo_popular.png" alt="Logo Popular">
                    <div class="header-texto">
                        <h1>Bem-vindo ao Sistema de envio do Superpop</h1>
                        <h2>Faça login com a sua conta</h2>
                    </div>
                </div>

                <!-- CAMPO USUÁRIO -->
                <div class="campo-input">
                    <img src="do-utilizador.png" class="icon-left" alt="Usuário">
                    <input type="text" placeholder="Usuário" required>
                </div>

                <!-- CAMPO SENHA -->
                <div class="campo-input">
                    <img src="cadeado.png" class="icon-left" alt="Senha">

                    <input
                        type="password"
                        id="senha"
                        placeholder="Senha"
                        required
                    >

                    <img
                        src="olho.png"
                        id="toggleSenha"
                        class="icon-right"
                        alt="Mostrar senha"
                    >
                </div>

                <div class="enviar-container">
                    <input type="submit" value="Login" class="btn-enviar">
                </div>

            </form>
        
            <div class="semlogin">
                <p>Ainda não possui conta?</p>
                <a href="cadastro.html">Criar conta</a>
            </div>
        </main>

        <script>
            const senha = document.getElementById("senha");
            const toggle = document.getElementById("toggleSenha");

            toggle.addEventListener("click", () => {
                const visivel = senha.type === "password";
                senha.type = visivel ? "text" : "password";
                toggle.src = visivel ? "visivel.png" : "olho.png";
            });
        </script>
    
        <script>src="../js/auth.js"</script>

        <footer class="flooter-fixo">
            © 2026 Superpop — Reconhecimento Popular Alimentos
        </footer>

        <!-- SCRIPT -->
        <script>
            function abrirMenu() {
                document.querySelector('.sidebar').classList.add('active');
                document.querySelector('.overlay').classList.add('active');
            }

            function fecharMenu() {
                document.querySelector('.sidebar').classList.remove('active');
                document.querySelector('.overlay').classList.remove('active');
            }
        </script>
        
    </body>
</html>
