@font-face {
    font-family: 'Cactus';
    src: url(Cactus\ Regular.otf) format('opentype');
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: 'Cactus', sans-serif;
    background: #f5f5f5;
    padding: 20px;
}

card {
    width:720px;
    background: #fff;
    padding: 25px;
    border: 1px solid #ddd;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    margin: auto;
}

    /*Cabeçalho*/
.header {
    width: 100%;
    display: flex;
    margin-bottom: 30px;
}

.header img {
    width: 100%;
    height: auto;
    margin: auto;
}

.header p {
    margin: 5px 0 0;
    font-size: 40px;
    color:#a30d0a;
    margin-bottom: 20px;
}

    /*Campos centrais*/
.inline-field {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    font-size: 20px;
}

.inline-field label {
    font-weight: bold;
    margin-right: 5px;
    white-space: nowrap;
}

.inline-field input[type="text"] {
    flex: 0;
    border:none;
    background-color:transparent;
    border-bottom: 2px solid rgb(46, 46, 46);
    font-size: 15px;
    padding: 2px 0;
    outline: none;
}

.inline-field-colaborador {
    font-weight: bold;
    margin-right: 5px;
    white-space: nowrap;
    font-size: 20px;
}

    /*Texto Central*/
.center-text {
    text-align: center;
    font-weight: bold;
    margin: 20px 0 5px;
    font-size: 25px;
    margin-bottom: 18px;
}

    /*Checkbox*/
.checkboxes {
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 55px;
    margin-bottom: 20px;
    font-size:20px;
}

    /*Observações*/
textarea {
    width: 100%;
    height: 90px;
    resize: none;
    font-size: 16px;
    outline: none;
    border-radius: 12px;
    border-width:calc(2px);
}

    /*Rodapé*/
.footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 15px;
}

.date input {
    border: none;
    border-bottom: 1px solid #0c0c0c;
    background-color: transparent;
    font-size: 14px;
    padding: 3px;
    outline: none;
}

    /*Botão Enviar*/
.enviar-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.btn-enviar {
    width: 280px;
    height: 80px;
    background-color: #be100e;
    color: white;
    font-size: 46px;
    font-family: 'Cactus', sans-serif;
    font-weight: bold;
    border: none;
    border-radius: 12px;
    cursor: pointer;
         
    transition:
        transform 0.25s ease,
        box-shadow 0.25s ease,
        background-color 0.25s ease;
}

.btn-enviar:hover {
    background-color: #920303;
}

.btn-enviar:active {
    transform: scale(0.97);
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}

    /*Logo popular*/
.logo {
    display: block;
    align-items: center;
    justify-content: center;
    border-bottom: 30px;
    margin: 0 auto;
}

.logo img {
    width: 200px;
    height: auto;
}

@media (max-width: 768px) {
    .header {
        flex-direction: column;
        gap: 10px;
    }
}

/* Autocomplete Colaborador */

.autocomplete-container {
    position: relative;
    width: 100%;
    margin-bottom: 25px;
}

#colaboradorInput {
    border:none;
    background-color: transparent;
    border-bottom: 2px solid rgb(46, 46, 46);
    font-size: 15px;
    padding: 2px 0;
    outline: none;
    width: 250px;
}

#listaColaboradores {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    max-height: 180px;
    overflow-y: auto;
    background: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-top: 8px;
    padding: 0;
    list-style: none;
    box-shadow: 0 4px 10px rgba(0,0,0,0.08);
    z-index: 999;
}

#listaColaboradores li {
    padding: 10px 14px;
    cursor: pointer;
    font-size: 20px;
}

#listaColaboradores li:hover {
    background-color: #f0f0f0;
}
